<!-- src/public/templates/rhapsody-messages.hbs -->
<!-- Update to render HTML content -->
<div>
{{#each messages}}
  <div class="message {{sender}}-message" data-message-id="{{id}}">
    <div class="message-header">
      <span class="message-sender">{{#if (eq sender "user")}}You{{else}}Rhapsody{{/if}}</span>
      {{#unless isLoading}}
        <button type="button" data-action="toggle-pin" class="pin-button {{#if isPinned}}pinned{{/if}}">
          📌
        </button>
      {{/unless}}
    </div>
    <div class="message-content">
      {{#if (and isLoading (eq content ""))}}
        <div class="loading-dots">Thinking<span>.</span><span>.</span><span>.</span></div>
      {{else}}
        {{{content}}} <!-- Triple braces to render HTML -->
      {{/if}}
    </div>
  </div>
{{/each}}
</div>