<div>
{{#each messages}}
  <div class="message {{sender}}-message">
    <div class="message-sender">{{#if (eq sender "user")}}You{{else}}Rhapsody{{/if}}</div>
    <div class="message-content">
      {{#if isLoading}}
        <div class="loading-dots">
          {{content}}<span>.</span><span>.</span><span>.</span>
        </div>
      {{else}}
        {{content}}
      {{/if}}
    </div>
  </div>
{{/each}}
</div>
